In [9]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer
import os

In [10]:
os.getcwd()

'D:\\Water'

In [11]:
os.chdir("D:\Water")

In [12]:
os.getcwd()

'D:\\Water'

In [13]:
path ="D:\Water\water_potability.csv"
water_data = pd.read_csv(path)

In [8]:
water_data.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

In [15]:
water_data.dtypes

ph                 float64
Hardness           float64
Solids             float64
Chloramines        float64
Sulfate            float64
Conductivity       float64
Organic_carbon     float64
Trihalomethanes    float64
Turbidity          float64
Potability           int64
dtype: object

water_data.shape

In [16]:
water_data.isnull().sum()

ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

In [18]:
water_data.shape

(3276, 10)

In [20]:
water_data = water_data.dropna(axis=0)

In [21]:
water_data.isnull().sum()

ph                 0
Hardness           0
Solids             0
Chloramines        0
Sulfate            0
Conductivity       0
Organic_carbon     0
Trihalomethanes    0
Turbidity          0
Potability         0
dtype: int64

In [22]:
y = water_data.Potability

In [26]:
#water_data = water_data.drop(columns='Potability',axis=1
X= water_data

In [27]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=1)

In [29]:
model = RandomForestClassifier(n_estimators=100)

In [30]:
model.fit(X_train,y_train)

RandomForestClassifier()

In [31]:
preds = model.predict(X_test)

In [33]:
MAE = mean_absolute_error(y_test,preds)

In [40]:
print(f" MAE : {MAE}")

 MAE : 0.30417495029821073

In [42]:
MAE * 100

30.417495029821072